name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}


      # Build frontend image
      - name: Build frontend image
        run: |
          echo "${{ secrets.ORIGIN_PEM}}" | base64 --decode > origin.pem
          echo "${{ secrets.PRIVATEKEY_PEM}}" | base64 --decode > privatekey.pem
          docker build \
            --build-arg ORIGIN_PEM="$(cat origin.pem)" \
            --build-arg PRIVATEKEY_PEM="$(cat privatekey.pem)" \
            -t ${{ secrets.DOCKER_USERNAME }}/tariffic-frontend:latest ./frontend

      # Push frontend image
      - name: Push frontend image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/tariffic-frontend:latest

      # Build backend image
      - name: Build backend image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/tariffic-backend:latest ./backend

      # Push backend image
      - name: Push backend image
        run: docker push ${{secrets.DOCKER_USERNAME}}/tariffic-backend:latest

