name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        

      # Build frontend image
      - name: Build frontend image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/tariffic-frontend:latest ./frontend

      # Push frontend image
      - name: Push frontend image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/tariffic-frontend:latest

      # Build backend image
      - name: Build backend image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/tariffic-backend:latest ./backend

      # Push backend image
      - name: Push backend image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/tariffic-backend:latest

